@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', cursive;
  --fonte3: 'Sriracha', cursive;

}

html, body {
  font-family: var(--fonte1);
  min-height: 100vh;
}

@media screen and (max-width: 720px){
    body{
        padding-left: 70px;
        padding-right: 70px;
    }

    header{
        height: 10vh;
    }
}