@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', cursive;
  --fonte3: 'Sriracha', cursive;
  --cor1: #33c481;
  --cor2: #0f8bdd;

}

html, body {
  font-family: var(--fonte1);
  min-height: 100vh;
  overflow-x: hidden;
}


@media screen and (max-width: 720px){
    main, aside{
        padding-left: 10vw;
        padding-right: 10vw;
    } 
}

@media screen and (min-width: 720px) {
    main, aside{
      padding-left: 15vw;
      padding-right: 15vw;
    }
}

@media screen and (min-width: 900px) {
  main, aside{
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

@media screen and (min-width: 1024px) {
  main, aside{
    padding-left: 30vw;
    padding-right: 30vw;
  }
}

h1, h2{
  margin-bottom: 20px;
  margin-top: 20px;
}

.headerContent{
  height: 10vh;
}
.headerSpace{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerSpace > div{
  justify-content: center;
}

nav > a{
  text-decoration: none;
  color: var(--cor1);
  font-weight: bold;
}

nav > a:hover{
  color: var(--cor2);
}

nav{
    width: 200px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#divIMG{
  display: flex;
  justify-content: center;
}

hr{
  margin: 20px 0 20px 0;
}

/* home page */
.container-caixas{  
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.aside-box{
  background-color: #f3f3f3;
  height: 30vh;
}

.content-caixas{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15vh;
  width: 150px;
  background-color: white;
  box-shadow: 5px 5px 10px #0000007a;
  font-size: small;
  position: relative;
}

.container-caixas img{
  margin: 15px 0 15px 25px;
}

.container-caixas a{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none; /* No underlines on the link */
  z-index: 10; /* Places the link above everything else in the div */
  background-color: #FFF; /* Fix to make div clickable in IE */
  opacity: 0; /* Fix to make div clickable in IE */
  filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.container-caixas a:hover{
  background-color: var(--cor2);
  opacity: 0.3;
  transition: 0.5s;
}


.img-container-a{
  background-color: #27BFE6;
  width: 150px;
}

.img-container-b{
  background-color: #FBC412;
  width: 150px;

}

.img-container-c{
  background-color: #A31C44;
  width: 150px;
}

.content-caixas p{
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 0 0 0 10px;
  margin-top: 10px;
}

.bottom-text{
  padding: 15px 0 15px 0;
}

/* Galeria */

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__viewport::-webkit-scrollbar {
  display: none;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}


.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  padding: 15px 0 15px 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}




@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: flex;
}

.carousel__navigation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0.8em;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-weight: bold;
  font-family: sans-serif;
  transition: transform 0.1s;
}

.carousel__navigation-button:hover{
  background-color: var(--cor2);
  opacity: 0.7;
  transition: 0.6s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

@media screen and (min-width: 1024px) {
  #carousel__slide1{
    background-image: url(images/esg-car.png);
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1023px) {
  #carousel__slide1{
    background-image: url(images/esg-car-600.png);
  }
}

@media screen and (max-width: 768px) {
  #carousel__slide1{
    background-image: url(images/esg-car-500.png);
  }
}

#carousel__slide2{
  background-image: url(images/masp.png);
}

#carousel__slide3{
  background-image: url(images/agenda.png);
}

#carousel__slide4{
  background-image: url(images/Foto-construcoes-ESG.png);
}

li.carousel__slide{
  display: grid;
  align-content: center;
  text-align: center;
}

li.carousel__slide > h1{
  width: 70%;
  color: white;
  font-weight: bold;
  margin: 0 0 0 2rem;
  justify-content: center;
  text-shadow: 2px 2px 5px black;
}

*{
  -webkit-box-sizing: border-box;
}

.grid-nav{
  display: grid;
  width: 40vw;
  margin: 15px 0 15px 0;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: space-evenly;
  justify-items: center;
}

.grid-banners{
  margin: 0;
  padding: 320px 284px;
  border: 0;
  background-color: #ccc;
  width: auto;
}

#banner1{
  grid-area: 1 / 1;
  background-color: #ccc;
  width: auto;
}

#banner2{
  grid-area: 1 / 2;
}

#banner3{
  grid-area: 2 / 1;
}

#banner4{
  grid-area: 2 / 2;
}

#banner5{
  grid-area: 3 / 1;
}

#banner6{
  grid-area: 3 / 2;
}

#banner7{
  grid-area: 4 / 1;
}

#banner8{
  grid-area: 4 / 2;
}

#banner9{
  grid-area: 5 / 1;
}



footer{
  margin-top: 15px;
  display: flex;
  height: 8vh;
  background-color: #353535;
  color: white;
  font-size: small;
  text-align: center;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
}

footer a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer a:hover{
  color: #ccc;
}
